# =========================
# Python & Kivy
# =========================
__pycache__/
*.py[cod]
*$py.class
*.kvc
.kivy/

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/

# =========================
# Game Data (ไม่เอาขึ้น Git)
# =========================
data/highscore.json

# =========================
# OS Files (ไฟล์ขยะระบบปฏิบัติการ)
# =========================
.DS_Store
Thumbs.db
Desktop.ini

# =========================
# Editor & IDE
# =========================
.vscode/
.idea/